@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Tarefa>

<h2 class="text-center titulo-app"><i class="bi bi-check-square-fill"></i> Lista de Tarefas</h2>
<br />
<div class="d-flex flex-row justify-content-between nova-tarefa-container align-self-center">
    <input class="form-control input-nova-tarefa" type="text" placeholder="Crie uma nova tarefa..." aria-label="default input example">
    <button type="submit" class="btn btn-primary mb-3">Criar</button>
</div>
<br />

<table class="table">
    <thead>
        <th>Tarefa</th>
        <th>Concluída</th>
        <th>Data de início</th>
        <th>Data de conclusão</th>
        <th></th>
    </thead>
    <tbody>
        @foreach(var tarefa in Model){
            <tr>
                <td>@tarefa.Nome</td>
                <td>
                    @if(@tarefa.Concluida == true) {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    } else {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    }
                </td>
                <td>@tarefa.DtInicio</td>
                <td>@tarefa.DtConclusao</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tarefa.TarefaId" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@tarefa.TarefaId" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
