@{
    ViewData["Title"] = "Tarefas por fazer";
}

@model List<Tarefa>

<h2 class="text-center titulo-app"><i class="bi bi-check-square-fill"></i> Lista de Tarefas</h2>

<br />

<h4>Tarefas por fazer</h4>
<table class="table text-center">
    <tr>
        <th>Tarefa</th>
        <th>Concluída</th>
        <th>Criada em</th>
        <th>Concluída em</th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var tarefa in Model)
        {
            <tr>
                <td>@tarefa.Nome</td>
                <td>
                    @if (@tarefa.Concluida == true)
                    {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => @tarefa.DtInicio)</td>
                <td>@Html.DisplayFor(modelItem => @tarefa.DtConclusao)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tarefa.TarefaId" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Editar</a>
                    <a asp-action="Delete" asp-route-id="@tarefa.TarefaId" class="btn btn-danger"><i class="bi bi-trash3-fill"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>